//Grids
@include add-gutter(1/6);
@include add-grid(9);
@include add-gutter-style(split);

%pagecontents {
  margin: 0 auto;
  max-width: $window-width-lrg;
}

.main, .footer {
  @extend %pagecontents;
}

.logo {
  @include scale(.75,.75);
  @include margin-trailer(-1);
  @include margin-leader(-1);
  @include breakpoint($hidpi) {
    @include margin-trailer(-2);
    @include margin-leader(-2);
    @include scale(0.5, 0.5);
  }
  @include breakpoint($window-width-med) {
    @include scale(1,1);
    @include margin-leader();
    @include margin-trailer(2);
  }
}

.intro{
  max-width:600px;
  margin: 0 auto;
  @include margin-leader();
  @include breakpoint($window-width-med) {
    @include grid-span(4, 1);
    text-align: right;
  }
  @include breakpoint($window-width-lrg) {
    @include grid-span(3, 2);
  }
}

.demo{
  @include breakpoint($window-width-med) {
    @include grid-span(5, 5);
  }
  @include breakpoint($window-width-lrg) {
    @include grid-span(4, 5);
  }
}

.news {
  clear: both;
}