/* Image replacement */
%ir {
  display: block; height: 0; // height: 0 cuz we use padding-top for proportionalism
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
%ir br { display: none; }

/* Clear Fix */
%clearfix:before,
%clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

%clearfix:after {
    clear: both;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

.for-print-only {
    display: none;
}

// For the icon fonts ala http://css-tricks.com/html-for-icon-font-usage/
.visuallyhidden, .screen-reader-text {
  position: absolute;
  top: 0; left: 0;
  width: 1px; height: 1px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0; border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}