@import "compass/typography/vertical_rhythm";

$base-font-size: 24px;
$base-line-height: 32px;
$rhythm-unit: 'rem';
@include establish-baseline;
$rem-with-px-fallback: false;

// Scale from http://typecast.com/blog/a-more-modern-scale-for-web-typography
body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

body {
  font-size: 1rem;
  font-family: $font-regular;
  font-weight: 400;
  text-align: center;
}

//anything iconic
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icomoon.woff') format('woff'),
         url('../fonts/icomoon.ttf') format('truetype'),
         url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

// if there's JS, don't show any text! Set it all to opacity 0
.js {
  h1, div, span, p, form {
    @include opacity(0);
    @include transition(opacity .5s ease-in 0);
  }
}

// Once the fonts are or are not loaded, fade the text in
.fontsLoaded, .fontsNotLoaded {
  h1, div, span, p, form {
    @include opacity(1);
  }
}

.socializing {
  font-size: 2rem;
  mask-image: url(../img/icon-mask.png);
  -webkit-mask-image: url(../img/icon-mask.png);
  a {
    line-height: 2rem;
  }
}

.socializing, .contact {
  @include margin-leader();
  @include margin-trailer();
  a {
    text-decoration: none;
  }
  li {
    display: inline-block;
  }
}

.contact {
  li { margin: 0 .5rem;}
  .line {text-decoration: underline;}
}

/*
blockquote {
  @include adjust-font-size-to(24px, 3/2);
  color: $butter;
  position: relative;
  text-indent: 1.25em;
  font-weight: $font-weight-light;
  @include margin-trailer();
  &:before {
    @include adjust-font-size-to(48px, 3/2);
    display: block;
    content: "\201C";
    position: absolute;
    left: -.625em;
    top: 0;
    color: darken($color-canvas, 10%);
  }
}

cite {
  &:before {
    content: "\2014 \2009";
    margin-left: -1em;
  }
  display: block;
  font-size: .75rem;
  text-align: center;
  @include margin-leader(.5);
  @include adjust-font-size-to(16px, 1);
  @include breakpoint($window-width-med) {
    text-align: right;
  }
}
*/