//Media Query Measures
$window-width-med: 43.75em;
$window-width-lrg: 56.25em;
$gallery-pics: 500px;
$hidpi: min-resolution 1.5dppx;
$cross-reso: max-resolution 143dpi;


//Easing

//Colors
$deep-purple: #321131;
$deep-red: #61183b;
$red: #7b1739;
$cream: #f6f3d9;
$butter: #f8edcd;
$bright-gold: #ffa031;
$gold: #f48c1b;
$deep-gold: #db601e;

//$color-link-alt: lighten($sapphire, 25%);
//$color-linkVisited-alt: lighten($amethyst, 25%);
//$color-linkActivated-alt: lighten($sapphire, 35%);

$color-link: $cream;
$color-linkVisited: $butter;
$color-linkActivated: $butter;

$color-canvas: $deep-purple;
$color-text: $bright-gold;

//Fonts
$font-georgia: 'Georgia', serif;
$font-prenton: 'prenton', sans-serif;
$font-prenton-condensed: 'prenton-condensed', sans-serif; // use only w/ bolc
$font-weight-light: 300;

$font-weight-bold: 700;

$font-accent: $font-georgia;
$font-regular: $font-prenton;
